name: Go CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'

      - name: Install dependencies
        run: go mod tidy

      # - name: Run linter
      #   uses: golangci/golangci-lint-action@v6
      #   with:
      #     version: v1.59

      - name: Run tests
        run: go test -v ./...

      - name: Build application
        run: go build -v -o go-github-actions-ci .